@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Calligraffitti:100,200,300,400,500,600,700|Josefin Sans:100,200,300,400,500,600,700");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

/* ---------------------------------colors */
/*---------------------------age verify overlay----------------*/
#ageVerifyOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d191d), color-stop(#3d1a20), color-stop(#3d1a23), color-stop(#3d1b25), color-stop(#3c1c28), color-stop(#3a1d2c), color-stop(#381f30), color-stop(#352134), color-stop(#2f2439), color-stop(#28273c), color-stop(#202a3d), to(#192c3d));
  background-image: linear-gradient(to right top, #3d191d, #3d1a20, #3d1a23, #3d1b25, #3c1c28, #3a1d2c, #381f30, #352134, #2f2439, #28273c, #202a3d, #192c3d);
  opacity: 0.99;
  z-index: 1000;
  /*---------------------------- day of birth selector -------------*/
}

#ageVerifyOverlay .verifyAge {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  color: #fafafa;
  text-align: center;
  padding-top: 1em;
}

#ageVerifyOverlay .verifyAge span {
  font-size: 0.5em;
}

#ageVerifyOverlay .daySelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 25em;
  padding-top: 1em;
}

#ageVerifyOverlay .daySelector .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3.5em;
  font-size: 0.7em;
}

#ageVerifyOverlay .daySelector .btn :first-child {
  font-weight: bold;
}

#ageVerifyOverlay .submitWrap {
  margin-top: 5em;
  display: block;
  text-align: center;
}

#ageVerifyOverlay .submitWrap .submit {
  height: 3.5em;
  font-size: 0.7em;
  padding: 1em;
}

/*------------------------------------------------heading*/
.site {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container {
  padding-bottom: 2.5em;
}

#header {
  background-color: #3D191D;
  width: 100%;
  height: 4.7em;
  margin: 0;
}

h1 {
  font-family: "Calligraffitti", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #fafafa;
  padding: 0;
  padding-top: 0.3em;
  margin: 0;
  letter-spacing: 0.2em;
  text-align: center;
}

.menu {
  position: relative;
}

.menu-toggle {
  position: absolute;
  top: -0.7em;
  right: 2px;
  border: 0;
  background-color: transparent;
  font-size: 2em;
  width: 2em;
  height: 1em;
  line-height: 0.5em;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  color: #fafafa;
}

.menu-toggle::after {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  content: "\2261";
  text-indent: 0;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0em;
  margin: 0;
  z-index: 1000;
}

.menu.is-open .menu-dropdown {
  display: block;
}

.nav-menu {
  list-style: none;
  margin-top: 0;
}

.menuitem {
  text-decoration: none;
  height: 4em;
  text-align: left;
  padding: 0;
  border-bottom: 2px solid #fafafa;
  background-color: #3b1d2bf7;
}

.menuitem a {
  text-decoration: none;
  color: #fafafa;
}

.menuitem span {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  padding: 0.9em 0.9em;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  h1 {
    padding-top: 1.5em;
  }
  .menu-toggle {
    top: -1.3em;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-dropdown {
    display: block;
    position: static;
  }
}

@media (min-width: 768px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .menuitem {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
  }
  .menuitem span {
    font-size: 0.6em;
    color: #fafafa;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .dropdownLink {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.4em 1.3em;
    position: relative;
  }
  .dropdownLink :after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .dropdownLink :hover:after {
    width: 100%;
    left: 0;
  }
}

/*-------------------------------------Footer*/
#footer {
  background-color: #3D191D;
  position: relative;
  height: 2.5em;
  margin-top: -2.5em;
  clear: both;
  width: 100%;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  margin: 0;
  padding: 0;
}

.social-links {
  text-align: center;
  list-style: none;
  margin: 0;
}

.list-item {
  width: 1em;
  height: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  display: inline-table;
  background-color: transparent;
}

.list-item a {
  text-align: center;
  color: #fafafa;
  font-size: 1em;
}

.list-item {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.list-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*-------------------------------------HomePage------*/
.home-section {
  height: calc(100vh - 7.2em);
  width: 100%;
}

.home-section .slide-holder {
  width: 100vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.home-section .slide-holder .slideshow {
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  transition: left 2s;
  width: 700%;
  height: 100%;
}

.home-section .slide-holder .slideshow .slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100vw;
  height: 100%;
  list-style-type: none;
  background-size: cover;
}

.home-section .slide-holder .slideshow .slider-image:nth-child(1) {
  background-image: url("/img/img1.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(2) {
  background-image: url("/img/img2.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(3) {
  background-image: url("/img/img3.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(4) {
  background-image: url("/img/img4.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(5) {
  background-image: url("/img/img5.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(6) {
  background-image: url("/img/img7.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(7) {
  background-image: url("/img/img8.jpg");
}

.quote {
  position: absolute;
}

.quote p {
  font-family: "Calligraffitti", sans-serif;
  font-weight: 800;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

@media (max-width: 767px) {
  .quote {
    left: 30%;
    margin-left: -50px;
    width: 20em;
    height: 10em;
    top: 40%;
    margin-top: -100px;
  }
  .quote p {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  .quote {
    left: 25%;
    margin-left: -50px;
    width: 30em;
    height: 10em;
    top: 30%;
    margin-top: -100px;
  }
  .quote p {
    font-size: 4em;
  }
}

@media (min-width: 1025px) {
  .quote {
    left: 40%;
    margin-left: -30px;
    top: 50%;
    margin-top: -80px;
    height: 5em;
    width: 15em;
  }
  .quote p {
    font-size: 2.2em;
  }
}

.ct-socials {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: transparent;
  height: 6em;
  width: 3em;
}

.ct-socials :hover {
  width: 6em;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.ct-socials .aside-twitter {
  background-color: #00aced;
}

.ct-socials .aside-facebook {
  background-color: #3C5A99;
}

.ct-socials .aside-youtube {
  background-color: #c4302b;
}

.ct-socials li i {
  text-align: center;
  color: #fafafa;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  padding-top: 0.6em;
}

@media (max-width: 1024px) {
  .ct-socials {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */