@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Josefin+Sans|Roboto&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

/* ---------------------------------colors */
/*---------------------------age verify overlay----------------*/
#ageVerifyOverlay {
  position: absolute;
  width: 105%;
  height: 450%;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#3d191d), color-stop(#3d1a20), color-stop(#3d1a23), color-stop(#3d1b25), color-stop(#3c1c28), color-stop(#3a1d2c), color-stop(#381f30), color-stop(#352134), color-stop(#2f2439), color-stop(#28273c), color-stop(#202a3d), to(#192c3d));
  background-image: linear-gradient(to right top, #3d191d, #3d1a20, #3d1a23, #3d1b25, #3c1c28, #3a1d2c, #381f30, #352134, #2f2439, #28273c, #202a3d, #192c3d);
  opacity: 0.99;
  z-index: 1000;
  /*---------------------------- day of birth selector -------------*/
}

#ageVerifyOverlay .verifyAge {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3em;
  color: #fafafa;
  text-align: center;
  padding: 3em 1em 0 1em;
}

#ageVerifyOverlay .verifyAge span {
  font-size: 0.5em;
}

#ageVerifyOverlay .daySelector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 25em;
  padding-top: 1em;
}

#ageVerifyOverlay .daySelector .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 3.5em;
  font-size: 0.7em;
}

#ageVerifyOverlay .daySelector .btn :first-child {
  font-weight: bold;
}

#ageVerifyOverlay .submitWrap {
  margin-top: 5em;
  display: block;
  text-align: center;
}

#ageVerifyOverlay .submitWrap .submit {
  font-weight: bold;
  height: 3.5em;
  width: 8em;
  font-size: 0.9em;
  padding: 1em;
  background-color: #193d39;
  color: #fafafa;
  border: 1px solid #867d37;
  outline: none;
}

@media (min-width: 1025px) {
  #ageVerifyOverlay .submit:hover {
    background-color: #fafafa;
    opacity: 0.7;
    color: black;
  }
}

#ageVerifyOverlay .wrongInput {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2em;
  color: red;
  text-align: center;
  margin-top: 2em;
}

#ageVerifyOverlay .tooYoung {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8em;
  text-align: center;
  color: #fafafa;
  margin-top: 30%;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 2em;
}

#ageVerifyOverlay .tooYoung span {
  font-size: 1em;
}

@media (min-width: 1025px) {
  #ageVerifyOverlay .verifyAge {
    font-size: 2em;
    padding-top: 2em;
  }
  #ageVerifyOverlay .tooYoung {
    margin-top: 10%;
  }
  #ageVerifyOverlay .wrongInput {
    font-size: 1em;
  }
  #ageVerifyOverlay .submitWrap {
    margin-top: 3em;
  }
}

/*------------------------------------------------heading*/
.site {
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-container {
  padding-bottom: 2.5em;
}

#header {
  background-color: #3d191d;
  width: 100%;
  height: 4.7em;
  margin: 0;
}

h1 {
  font-family: "Calligraffitti", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  color: #fafafa;
  padding: 0;
  padding-top: 0.3em;
  margin: 0;
  letter-spacing: 0.2em;
  text-align: center;
}

.menu {
  position: relative;
}

.menu-toggle {
  position: absolute;
  top: -0.7em;
  right: 2px;
  border: 0;
  background-color: transparent;
  font-size: 2em;
  width: 2em;
  height: 1em;
  line-height: 0.5em;
  text-indent: 5em;
  white-space: nowrap;
  overflow: hidden;
  color: #fafafa;
  outline: none;
}

.menu-toggle::after {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  display: block;
  content: "\2261";
  text-indent: 0;
  outline: none;
}

.menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 0em;
  margin: 0;
  z-index: 1000;
}

.menu.is-open .menu-dropdown {
  display: block;
}

.nav-menu {
  list-style: none;
  margin-top: 0;
}

.menuitem {
  text-decoration: none;
  height: 4em;
  text-align: left;
  padding: 0;
  border-bottom: 0.9px solid #fafafa;
  background-color: #3b1d2bf7;
}

.menuitem a {
  text-decoration: none;
  color: #fafafa;
}

.menuitem span {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  padding: 0.9em 0.9em;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  h1 {
    padding-top: 1.5em;
  }
  .menu-toggle {
    top: -1.3em;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .menu-dropdown {
    display: block;
    position: static;
  }
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .menuitem {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
  }
  .menuitem span {
    font-size: 0.6em;
    color: #fafafa;
    padding: 0;
  }
  .dropdownLink {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0.4em 1.3em;
    position: relative;
  }
  .dropdownLink :after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
}

@media (min-width: 768px) and (min-width: 768px) {
  :hover:after {
    width: 100%;
    left: 0;
  }
}

/*-------------------------------------Footer*/
#footer {
  background-color: #3d191d;
  position: relative;
  height: 2.5em;
  margin-top: -2.5em;
  clear: both;
  width: 100%;
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
  margin: 0;
  padding: 0;
}

.social-links {
  text-align: center;
  list-style: none;
  margin: 0;
}

.list-item {
  width: 1em;
  height: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  display: inline-table;
  background-color: transparent;
}

.list-item a {
  text-align: center;
  color: #fafafa;
  font-size: 1em;
}

.list-item {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.list-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/*-------------------------------------------------HomePage------*/
.home-section {
  height: calc(100vh - 7.2em);
  width: 100%;
}

.home-section .slide-holder {
  width: 100vw;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}

.home-section .slide-holder .slideshow {
  clear: both;
  position: relative;
  -webkit-transition: left 2s;
  transition: left 2s;
  width: 700%;
  height: 100%;
}

.home-section .slide-holder .slideshow .slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100vw;
  height: 100%;
  list-style-type: none;
  background-size: cover;
}

.home-section .slide-holder .slideshow .slider-image:nth-child(1) {
  background-image: url("/img/img1.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(2) {
  background-image: url("/img/img2.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(3) {
  background-image: url("/img/img3.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(4) {
  background-image: url("/img/img4.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(5) {
  background-image: url("/img/img5.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(6) {
  background-image: url("/img/img7.jpg");
}

.home-section .slide-holder .slideshow .slider-image:nth-child(7) {
  background-image: url("/img/img8.jpg");
}

.quote {
  position: absolute;
}

.quote p {
  font-family: "Calligraffitti", sans-serif;
  font-weight: 800;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

@media (max-width: 767px) {
  .quote {
    left: 30%;
    margin-left: -50px;
    width: 20em;
    height: 10em;
    top: 40%;
    margin-top: -100px;
  }
  .quote p {
    font-size: 3em;
  }
}

@media (min-width: 768px) {
  .quote {
    left: 25%;
    margin-left: -50px;
    width: 30em;
    height: 10em;
    top: 30%;
    margin-top: -100px;
  }
  .quote p {
    font-size: 4em;
  }
}

@media (min-width: 1025px) {
  .quote {
    left: 40%;
    margin-left: -30px;
    top: 50%;
    margin-top: -120px;
    height: 5em;
    width: 15em;
  }
  .quote p {
    font-size: 2.2em;
  }
}

.ct-socials {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: transparent;
  height: 6em;
  width: 3em;
}

.ct-socials :hover {
  width: 4em;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.ct-socials .aside-twitter {
  background-color: #00aced;
}

.ct-socials .aside-facebook {
  background-color: #3c5a99;
}

.ct-socials .aside-youtube {
  background-color: #c4302b;
}

.ct-socials li i {
  text-align: center;
  color: #fafafa;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  padding-top: 0.6em;
}

@media (max-width: 1024px) {
  .ct-socials {
    display: none;
  }
}

/*-----------------------------------------Grapes page---------------------*/
.grape-section {
  height: 100%;
  margin-bottom: 2em;
}

.varieties {
  font-family: "Calligraffitti", sans-serif;
  font-weight: 700;
  color: #282d2f;
  font-size: 1.5em;
  display: block;
  text-align: center;
  margin: 2em auto 0.8em;
}

.grape-section input {
  margin: 0 0 2em 3.5em;
  width: 20em;
  height: 3em;
  border-radius: 0.5em;
  background-color: #fafafa;
  border: solid 0.15em #3d191d;
  outline: none;
}

#gridGrapes {
  max-width: 1330px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-auto-rows: auto auto;
  grid-gap: 0.6em;
  grid-auto-flow: dense;
  margin: 0px 1em 0px;
}

#gridGrapes > * {
  background-color: #fafafa;
  color: #282d2f;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0 0.5em 0 0.5em;
  border-radius: 0.5em;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grapes {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
  margin: 0;
}

.grapes img {
  width: 100%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0.5em 0.5em;
  max-height: 300px;
}

.titleGrapes {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 1em 0;
  text-align: center;
}

.bntGrapes {
  width: 9em;
  height: 2.5em;
  border-radius: 0.5em;
  margin: 1em;
  background: #fafafa;
  font-size: 0.7em;
  background-color: #dbf47c;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  -webkit-box-shadow: 4px 4px 5px 0px #91c771;
  box-shadow: 4px 4px 5px 0px #91c771;
  outline: none;
  border: none;
}

.bntGrapes:hover {
  background-color: #f1f285;
}

.bntMap {
  position: relative;
  width: 9em;
  height: 2.5em;
  border-radius: 0.5em;
  margin: 1em;
  background: #fafafa;
  font-size: 0.7em;
  background-color: #dbf47c;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
  -webkit-box-shadow: 4px 4px 5px 0px #91c771;
  box-shadow: 4px 4px 5px 0px #91c771;
  outline: none;
  border: none;
}

.bntMap:hover {
  background-color: #f1f285;
}

.mapOverlay {
  position: fixed;
  left: 50%;
  margin-left: -10em;
  top: 50%;
  margin-top: -12em;
  height: 25em;
  width: 25em;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #282d2f;
}

#x {
  height: 2em;
  width: 2em;
  border-radius: 1em;
  position: relative;
  float: right;
  background: #282d2f;
  color: #fafafa;
  top: -8px;
  right: -12px;
  border: 1px solid #fafafa;
  outline: none;
  opacity: 1;
}

#x:hover {
  opacity: 0.8;
}

#map {
  width: 23em;
  height: 23em;
  margin: 1em 1em;
  border: 1px solid #282d2f;
}

.contentGrapes p {
  font-size: 1.2em;
  text-align: justify;
}

.nothingFound {
  width: 100%;
  height: 8.5em;
  background-color: transparent;
}

.nothingFound p {
  text-align: center;
  padding-top: 2em;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  line-height: 2.5em;
}

.nothingFound p span {
  font-size: 2em;
}

@media (max-width: 767px) {
  .mapOverlay {
    left: 50%;
    margin-left: -13em;
    top: 50%;
    margin-top: -19em;
    height: 30em;
    width: 25em;
  }
  #map {
    width: 23em;
    height: 27em;
    margin: 1em 1em;
    border: 1px solid #282d2f;
  }
  #gridGrapes {
    margin: 0px 0.5em 0px;
  }
  .bntMap {
    width: 8em;
  }
  .bntGrapes {
    width: 8em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #gridGrapes {
    margin: 0px 2.5em 0px;
  }
  .grapes img {
    height: 320px;
  }
  .contentGrapes {
    font-size: 1.3em;
  }
  .titleGrapes {
    font-size: 2em;
  }
  .varieties {
    font-size: 2.5em;
  }
  .mapOverlay {
    left: 50%;
    margin-left: -20em;
    top: 50%;
    margin-top: -16em;
    height: 40em;
    width: 40em;
  }
  #map {
    width: 38em;
    height: 38em;
    margin: 1em 1em;
    border: 1px solid #282d2f;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  #gridGrapes {
    -ms-grid-columns: (minmax(24em, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(24em, 1fr));
    margin-left: 5em;
    margin-right: 5em;
  }
  .grape-section input {
    margin: 0 0 2em 8em;
    width: 20em;
    height: 4em;
  }
}

@media (min-width: 1025px) {
  .contentGrapes {
    font-size: 0.7em;
  }
  .varieties {
    font-size: 1.5em;
  }
  #gridGrapes {
    -ms-grid-columns: (minmax(20em, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    margin: 0 3em 0;
  }
  .grape-section input {
    margin: 0 0 2em 5em;
  }
  .titleGrapes {
    font-size: 1em;
  }
  .grapes img {
    height: 320px;
  }
}

/*----------------------------------------Statistics----------------------*/
.statistics-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(154, 141, 127, 0.2);
}

.statistics-section .buttonsStat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2em 3em;
  width: 100%;
  height: auto;
  background-color: rgba(154, 141, 127, 0.2);
}

.statistics-section .buttonsStat .btnwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statistics-section .buttonsStat .btnwrap .btnStat {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0.4em;
  width: 15em;
  height: 4em;
  border: none;
  border-radius: 0.3em;
  outline: none;
  -webkit-box-shadow: 4px 4px 8px 2px #9a8d7f;
  box-shadow: 4px 4px 8px 2px #9a8d7f;
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-transition: transform 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.statistics-section .buttonsStat .btnStat:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.statistics-section .buttonsStat .a {
  background-color: #4c3f54;
}

.statistics-section .buttonsStat .b {
  background-color: #d13535;
}

.statistics-section .buttonsStat .c {
  background-color: #f2c057;
}

.statistics-section .buttonsStat .d {
  background-color: #486824;
}

.statistics-section .buttonsStat .e {
  background-color: #e94f08;
}

.statistics-section .graph {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  height: auto;
  background-color: rgba(154, 141, 127, 0.2);
  padding: 1em;
}

.statistics-section .graph #chart {
  width: 100%;
  height: 100%;
}

@media (max-width: 320px) {
  .statistics-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-section .buttonsStat .btnwrap .btnStat {
    width: 8em;
    height: 1.6em;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .statistics-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-section .buttonsStat .btnwrap .btnStat {
    width: 8em;
    height: 3em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .statistics-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .statistics-section .buttonsStat .btnwrap .btnStat {
    width: 8em;
    height: 5em;
  }
}

@media (min-width: 1026px) {
  .buttonsStat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .graph {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    width: 100%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */